{
  "openapi": "3.1.0",
  "info": {
    "title": "wellnizz API",
    "version": "0.5.2",
    "description": "wellnizz API and MCP-compatible service for genetics, biomarkers, wearables, lab discovery, dashboard specs, action plans, and hosted billing.",
    "x-guidance": "Use /openapi.json to discover the API. For a payable operation, make the exact request without credentials, select a compatible option from PAYMENT-REQUIRED, then retry unchanged with PAYMENT-SIGNATURE. x402 payments create a payer-scoped private workspace; do not send user_id or organization_id. Use GET /.well-known/x402.json for the live route and price catalog."
  },
  "servers": [
    {
      "url": "https://app.wellnizz.com"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "summary": "Health check",
        "security": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "description": "Liveness probe. Returns 200 whenever the process is running; does not check dependencies."
      }
    },
    "/ready": {
      "get": {
        "summary": "Readiness check",
        "security": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "description": "Readiness probe. Returns 200 only when durable storage, authentication, email delivery configuration, and database migrations are healthy. Used by load balancers and orchestrators."
      }
    },
    "/ready/details": {
      "get": {
        "summary": "Administrative dependency and storage readiness diagnostics",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/version": {
      "get": {
        "summary": "Version metadata",
        "security": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "description": "Service version and build metadata."
      }
    },
    "/endpoints": {
      "get": {
        "summary": "Endpoint catalog",
        "security": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "description": "Machine-readable catalog of every endpoint with its method, path, required scopes, and MCP tool name."
      }
    },
    "/.well-known/health-agent.json": {
      "get": {
        "summary": "Agent manifest",
        "security": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "description": "Agent discovery manifest: base URL, auth requirements, available endpoints, and MCP tool list, so an autonomous agent can self-configure."
      }
    },
    "/.well-known/x402.json": {
      "get": {
        "summary": "x402 payment route discovery",
        "security": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "description": "Machine-readable x402 v2 networks, facilitators, route templates, prices, and payer-scoped identity behavior."
      }
    },
    "/openapi.json": {
      "get": {
        "summary": "OpenAPI schema",
        "security": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "description": "This OpenAPI 3.1 specification, generated from the same schema source the service validates requests against."
      }
    },
    "/capabilities": {
      "get": {
        "summary": "Capability registry",
        "security": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "description": "List supported wellness data modalities, providers, setup requirements, and normalized outputs."
      }
    },
    "/pricing": {
      "get": {
        "summary": "Pricing, limits, and caching policy",
        "security": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "description": "List public pricing tiers, rate limits, quotas, and caching behavior."
      }
    },
    "/billing/subscription": {
      "get": {
        "summary": "Read hosted billing status for the authenticated workspace",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "description": "Read the authenticated workspace’s hosted billing status and current subscription tier."
      }
    },
    "/billing/checkout": {
      "post": {
        "summary": "Create Stripe Checkout session",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or source modality",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Source not found",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "tier",
                  "activation_source"
                ],
                "properties": {
                  "tier": {
                    "type": "string",
                    "enum": [
                      "standard",
                      "builder",
                      "growth"
                    ]
                  },
                  "organization_id": {
                    "type": "string",
                    "minLength": 1
                  },
                  "activation_source": {
                    "type": "string",
                    "enum": [
                      "wearable",
                      "biomarkers",
                      "genetics",
                      "health_connect",
                      "request_limit"
                    ],
                    "description": "The source of the billing decision. Hosted Checkout is normally shown once the introductory request allowance is exhausted."
                  }
                }
              }
            }
          }
        },
        "description": "Create a Stripe-hosted Checkout session after the introductory hosted request allowance, with a required payment method for a Standard, Builder, or Growth subscription."
      }
    },
    "/billing/portal": {
      "post": {
        "summary": "Create Stripe Billing Portal session",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or source modality",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Source not found",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "organization_id": {
                    "type": "string",
                    "minLength": 1
                  }
                }
              }
            }
          }
        },
        "description": "Create a Stripe Billing Portal session for the authenticated workspace."
      }
    },
    "/billing/stripe/webhook": {
      "post": {
        "summary": "Receive verified Stripe subscription webhook",
        "security": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/design/systems": {
      "get": {
        "summary": "List design systems for health UIs",
        "security": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "description": "List curated design-token sets for health & wellness UIs, inspired by well-known apps. Public reference data - no auth required."
      }
    },
    "/design/systems/{id}": {
      "get": {
        "summary": "Get a design system with tokens + DESIGN.md",
        "security": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "description": "Get a design system's full tokens (color, typography, spacing, radii, elevation, motion, components) plus a ready-to-paste DESIGN.md. Public reference data."
      }
    },
    "/design/systems/{id}/implementation": {
      "get": {
        "summary": "Get the complete public design-system handoff and implementation bindings for an agent-built app",
        "security": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "description": "Get a full public design-system handoff: component source, declarations, prompts, tokens, templates, UI kits, manifest, and binary asset URLs. Meridian also includes its existing production dashboard package and bindings."
      }
    },
    "/auth/otp/start": {
      "post": {
        "summary": "Start email OTP",
        "security": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "additionalProperties": false,
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Email address of the person authorizing access."
                  }
                }
              }
            }
          }
        },
        "description": "Send an 8-digit email sign-in code so a person can authorize an agent without a password."
      }
    },
    "/auth/otp/verify": {
      "post": {
        "summary": "Verify email OTP",
        "security": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "token"
                ],
                "additionalProperties": false,
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Email address the code was sent to."
                  },
                  "token": {
                    "type": "string",
                    "description": "The 8-digit code from the sign-in email."
                  }
                }
              }
            }
          }
        },
        "description": "Verify an emailed one-time code and return an access token scoped to that user."
      }
    },
    "/agent-login/start": {
      "post": {
        "summary": "Start explicit browser approval for a named agent",
        "security": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "agent_name": {
                    "type": "string",
                    "maxLength": 80
                  }
                }
              }
            }
          }
        }
      }
    },
    "/agent-login/request": {
      "get": {
        "summary": "Read the safe display details for an agent approval request",
        "security": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/agent-login/status": {
      "get": {
        "summary": "Poll agent approval with the private X-Agent-Login-Secret header",
        "security": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/agent-login/confirm": {
      "post": {
        "summary": "Approve or deny a pending agent authorization",
        "security": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "session_code",
                  "access_token",
                  "decision"
                ],
                "properties": {
                  "session_code": {
                    "type": "string"
                  },
                  "access_token": {
                    "type": "string"
                  },
                  "decision": {
                    "type": "string",
                    "enum": [
                      "approve",
                      "deny"
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/sandbox/sessions": {
      "post": {
        "summary": "Start synthetic sandbox session",
        "security": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {}
              }
            }
          }
        },
        "description": "Create a short-lived, synthetic-only sandbox session and return a complete multimodal demo result without persisting data."
      }
    },
    "/sandbox/hero": {
      "post": {
        "summary": "Run synthetic multimodal demo",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {}
              }
            }
          }
        },
        "description": "Re-run the deterministic, non-persistent synthetic demo using a sandbox session token."
      }
    },
    "/api-keys": {
      "post": {
        "summary": "Issue scoped API key",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or source modality",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Source not found",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Display name for the key."
                  },
                  "user_id": {
                    "type": "string",
                    "minLength": 1
                  },
                  "organization_id": {
                    "type": "string",
                    "minLength": 1
                  },
                  "tier": {
                    "type": "string",
                    "enum": [
                      "free",
                      "builder",
                      "growth",
                      "enterprise"
                    ],
                    "default": "free",
                    "description": "free is self-serve for personal use. Paid tiers require an admin token."
                  },
                  "intended_use": {
                    "type": "string",
                    "enum": [
                      "personal_agent",
                      "mobile_sync",
                      "app_platform_service"
                    ],
                    "default": "personal_agent",
                    "description": "personal_agent keys act for one person. mobile_sync creates a non-expiring, upload-only device credential for Wellnizz Connect. Products serving other users need app_platform_service on the builder tier or higher."
                  },
                  "scopes": {
                    "type": "array",
                    "description": "Defaults to the standard personal grant set when omitted.",
                    "items": {
                      "type": "string",
                      "enum": [
                        "health:data:read",
                        "health:data:write",
                        "health:connections:write",
                        "health:labs:read",
                        "health:admin"
                      ]
                    }
                  },
                  "enabled_endpoints": {
                    "type": "array",
                    "description": "Defaults to the standard personal endpoint grants when omitted.",
                    "items": {
                      "type": "string"
                    }
                  },
                  "expires_in_days": {
                    "type": "number",
                    "minimum": 1,
                    "maximum": 730,
                    "default": 365
                  }
                }
              }
            }
          }
        },
        "description": "Issue a scoped bearer API key for an authenticated user or organization."
      }
    },
    "/imports/file": {
      "post": {
        "summary": "Upload wellness data",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SourceImportResult"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or source modality",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Source not found",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Small imports only. NEVER use for VCF/VCF.GZ or large SNP/23andMe files; use start_genetics_upload instead.",
                "additionalProperties": false,
                "required": [
                  "category"
                ],
                "properties": {
                  "user_id": {
                    "type": "string",
                    "minLength": 1
                  },
                  "organization_id": {
                    "type": "string",
                    "minLength": 1
                  },
                  "category": {
                    "type": "string",
                    "enum": [
                      "genetics",
                      "biomarkers",
                      "wearables",
                      "behavioral"
                    ]
                  },
                  "filename": {
                    "type": "string"
                  },
                  "content_type": {
                    "type": "string"
                  },
                  "provider": {
                    "type": "string"
                  },
                  "text": {
                    "type": "string"
                  },
                  "data_base64": {
                    "type": "string"
                  }
                },
                "oneOf": [
                  {
                    "required": [
                      "text"
                    ]
                  },
                  {
                    "required": [
                      "data_base64"
                    ]
                  }
                ]
              }
            }
          }
        },
        "description": "Upload small biomarker, wearable, behavioral, or genetic text data. NEVER use this endpoint for VCF/VCF.GZ or large SNP/23andMe files; use POST /genetics/uploads and its signed PUT URL because this endpoint traverses Cloudflare and has a request-body limit."
      }
    },
    "/genetics/uploads": {
      "post": {
        "summary": "Start a resumable direct-to-storage genetics upload",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or source modality",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Source not found",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "user_id",
                  "organization_id",
                  "filename",
                  "byte_length"
                ],
                "properties": {
                  "user_id": {
                    "type": "string",
                    "minLength": 1
                  },
                  "organization_id": {
                    "type": "string",
                    "minLength": 1
                  },
                  "filename": {
                    "type": "string",
                    "minLength": 5
                  },
                  "byte_length": {
                    "type": "number",
                    "minimum": 1
                  },
                  "content_type": {
                    "type": "string"
                  },
                  "provider": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "description": "Create a private direct-upload session for VCF, SNP-array, or 23andMe-style raw genetics data. The file body bypasses the API server and CDN."
      }
    },
    "/genetics/uploads/{id}/complete": {
      "post": {
        "summary": "Finalize a direct-to-storage genetics upload",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or source modality",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Source not found",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "user_id",
                  "organization_id"
                ],
                "properties": {
                  "user_id": {
                    "type": "string",
                    "minLength": 1
                  },
                  "organization_id": {
                    "type": "string",
                    "minLength": 1
                  }
                }
              }
            }
          }
        },
        "description": "Verify the directly uploaded genetic file, mark the genetics source complete, and make it eligible for queued analysis."
      }
    },
    "/sources": {
      "get": {
        "summary": "List uploaded sources for a user",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SourceList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "User whose sources to list (defaults to the token subject)."
          },
          {
            "name": "organization_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Restrict to a single organization."
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by category: biomarkers, wearables, genetics, behavioral."
          },
          {
            "name": "since",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "ISO timestamp lower bound on received_at."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Max results (1-200, default 50)."
          }
        ],
        "description": "List uploaded source documents for the authenticated user with optional category, since, and limit filters."
      }
    },
    "/sources/{id}": {
      "get": {
        "summary": "Read a source and its normalized observations",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SourceDetail"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "description": "Read a single uploaded source with its normalized observations."
      }
    },
    "/webhook-events": {
      "get": {
        "summary": "Read webhook event log",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookEventList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "description": "Read completion events for imports, analyses, wearable syncs, exports, and deletion receipts."
      }
    },
    "/connections/wearables/start": {
      "post": {
        "summary": "Start generic wearables connection",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "user_id",
                  "source_provider"
                ],
                "additionalProperties": false,
                "properties": {
                  "user_id": {
                    "type": "string",
                    "minLength": 1
                  },
                  "organization_id": {
                    "type": "string",
                    "minLength": 1
                  },
                  "source_provider": {
                    "type": "string",
                    "enum": [
                      "whoop",
                      "oura",
                      "health_connect"
                    ]
                  },
                  "client_id": {
                    "type": "string",
                    "minLength": 1
                  },
                  "redirect_uri": {
                    "type": "string",
                    "minLength": 1
                  },
                  "state": {
                    "type": "string"
                  },
                  "scopes": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Start a generic wearables connection flow for a supported source provider."
      }
    },
    "/connections/wearables/status": {
      "get": {
        "summary": "Read persisted wearable connection status",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/connections/wearables/callback": {
      "post": {
        "summary": "Complete generic wearables connection",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "user_id",
                  "source_provider"
                ],
                "additionalProperties": false,
                "properties": {
                  "user_id": {
                    "type": "string",
                    "minLength": 1
                  },
                  "organization_id": {
                    "type": "string",
                    "minLength": 1
                  },
                  "source_provider": {
                    "type": "string",
                    "enum": [
                      "whoop",
                      "oura",
                      "health_connect"
                    ]
                  },
                  "code": {
                    "type": "string"
                  },
                  "client_id": {
                    "type": "string"
                  },
                  "client_secret": {
                    "type": "string"
                  },
                  "redirect_uri": {
                    "type": "string"
                  },
                  "external_user_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "description": "Complete a generic wearables OAuth callback and register the connected account."
      }
    },
    "/connections/{provider}/auth-url": {
      "post": {
        "summary": "Build provider OAuth URL",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "provider",
                  "client_id",
                  "redirect_uri"
                ],
                "properties": {
                  "provider": {
                    "type": "string",
                    "enum": [
                      "whoop",
                      "oura"
                    ]
                  },
                  "client_id": {
                    "type": "string",
                    "minLength": 1
                  },
                  "redirect_uri": {
                    "type": "string",
                    "minLength": 1
                  },
                  "state": {
                    "type": "string"
                  },
                  "scopes": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Build an OAuth authorization URL for WHOOP or Oura. (Google Health Connect connects via the mobile bridge through /connections/wearables/start.)"
      }
    },
    "/connections/{provider}/token": {
      "post": {
        "summary": "Exchange provider OAuth code",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "code",
                  "client_id",
                  "client_secret",
                  "redirect_uri"
                ],
                "additionalProperties": false,
                "properties": {
                  "code": {
                    "type": "string"
                  },
                  "client_id": {
                    "type": "string"
                  },
                  "client_secret": {
                    "type": "string"
                  },
                  "redirect_uri": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "description": "Exchange a provider OAuth code for provider tokens."
      }
    },
    "/connections/{provider}/refresh": {
      "post": {
        "summary": "Refresh a provider access token",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "refresh_token",
                  "client_id",
                  "client_secret"
                ],
                "additionalProperties": false,
                "properties": {
                  "refresh_token": {
                    "type": "string",
                    "minLength": 1
                  },
                  "client_id": {
                    "type": "string",
                    "minLength": 1
                  },
                  "client_secret": {
                    "type": "string",
                    "minLength": 1
                  },
                  "scopes": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Exchange a provider refresh token for a fresh access token (WHOOP) so long-running syncs do not expire."
      }
    },
    "/api/v1/sdk/users/{user_id}/sync": {
      "post": {
        "summary": "Push Google Health Connect readings from the wellnizz mobile SDK",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "provider",
                  "data"
                ],
                "additionalProperties": false,
                "properties": {
                  "provider": {
                    "type": "string",
                    "enum": [
                      "health_connect"
                    ]
                  },
                  "sdkVersion": {
                    "type": "string"
                  },
                  "syncTimestamp": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "data": {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "records": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": true
                        }
                      },
                      "sleep": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": true
                        }
                      },
                      "workouts": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "additionalProperties": true
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Push user-authorized Google Health Connect readings through the stable wellnizz mobile SDK envelope."
      }
    },
    "/connections/wearables/jobs/{id}": {
      "get": {
        "summary": "Read queued wearable sync job status",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonObject"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "description": "Read queued wearable sync job status."
      }
    },
    "/analyses": {
      "get": {
        "summary": "List analyses for a user",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalysisList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "User whose analyses to list (defaults to the token subject)."
          },
          {
            "name": "organization_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Restrict to a single organization."
          },
          {
            "name": "modality",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter by modality: biomarkers, wearables, genetics, multimodal."
          },
          {
            "name": "since",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "ISO timestamp lower bound on created_at."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Max results (1-200, default 50)."
          }
        ],
        "description": "List stored analyses for the authenticated user with optional modality, since, and limit filters."
      },
      "post": {
        "summary": "Run multimodal health analysis",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalysisResult"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or source modality",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Source not found",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "source_ids"
                ],
                "properties": {
                  "user_id": {
                    "type": "string",
                    "minLength": 1
                  },
                  "organization_id": {
                    "type": "string",
                    "minLength": 1
                  },
                  "source_ids": {
                    "type": "array",
                    "minItems": 1,
                    "items": {
                      "type": "string"
                    }
                  },
                  "annotation_depth": {
                    "type": "string",
                    "enum": [
                      "compact",
                      "full_dbsnp"
                    ],
                    "default": "compact",
                    "description": "Genetics only. compact uses the bundled ClinVar-derived reference; full_dbsnp requires the provisioned paid hosted capability or explicit self-hosted setup."
                  },
                  "profile": {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "age": {
                        "type": "number"
                      },
                      "sex": {
                        "type": "string",
                        "enum": [
                          "male",
                          "female"
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Run a health analysis from uploaded source IDs."
      }
    },
    "/analyses/{id}": {
      "get": {
        "summary": "Read analysis",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalysisResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "description": "Read a stored analysis result for the authenticated user."
      }
    },
    "/analyses/{id}/recommendations": {
      "get": {
        "summary": "Read prioritized recommendations for an analysis",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecommendationsResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "description": "Read prioritized, de-duplicated action items derived from a stored analysis."
      }
    },
    "/analyses/{id}/action-plan": {
      "get": {
        "summary": "Build a customized action plan (interventions + evidence-graded supplement stack) for an analysis",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionPlan"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "description": "Build a customized action plan (lifestyle interventions + an evidence-graded supplement stack) mapped from a stored analysis, cross-referenced against the user's logged supplements and medications."
      }
    },
    "/analyses/{id}/rerun": {
      "post": {
        "summary": "Re-run a stored analysis on its existing sources",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalysisResult"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or source modality",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Source not found",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {}
              }
            }
          }
        },
        "description": "Re-run a stored analysis against its existing sources, producing a fresh analysis result and dashboard spec."
      }
    },
    "/biomarkers/derive": {
      "post": {
        "summary": "Calculate derived biomarkers",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalysisResult"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or source modality",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Source not found",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "source_ids"
                ],
                "properties": {
                  "user_id": {
                    "type": "string",
                    "minLength": 1
                  },
                  "organization_id": {
                    "type": "string",
                    "minLength": 1
                  },
                  "source_ids": {
                    "type": "array",
                    "minItems": 1,
                    "items": {
                      "type": "string"
                    }
                  },
                  "annotation_depth": {
                    "type": "string",
                    "enum": [
                      "compact",
                      "full_dbsnp"
                    ],
                    "default": "compact",
                    "description": "Genetics only. compact uses the bundled ClinVar-derived reference; full_dbsnp requires the provisioned paid hosted capability or explicit self-hosted setup."
                  },
                  "profile": {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "age": {
                        "type": "number"
                      },
                      "sex": {
                        "type": "string",
                        "enum": [
                          "male",
                          "female"
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Calculate supported derived biomarkers from existing uploaded lab sources."
      }
    },
    "/biomarkers/analyze": {
      "post": {
        "summary": "Analyze biomarker results",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalysisResult"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or source modality",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Source not found",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "source_ids"
                ],
                "properties": {
                  "user_id": {
                    "type": "string",
                    "minLength": 1
                  },
                  "organization_id": {
                    "type": "string",
                    "minLength": 1
                  },
                  "source_ids": {
                    "type": "array",
                    "minItems": 1,
                    "items": {
                      "type": "string"
                    }
                  },
                  "annotation_depth": {
                    "type": "string",
                    "enum": [
                      "compact",
                      "full_dbsnp"
                    ],
                    "default": "compact",
                    "description": "Genetics only. compact uses the bundled ClinVar-derived reference; full_dbsnp requires the provisioned paid hosted capability or explicit self-hosted setup."
                  },
                  "profile": {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "age": {
                        "type": "number"
                      },
                      "sex": {
                        "type": "string",
                        "enum": [
                          "male",
                          "female"
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Interpret direct and derived biomarker results from existing uploaded lab sources."
      }
    },
    "/wearables/analyze": {
      "post": {
        "summary": "Analyze wearable observations",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalysisResult"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or source modality",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Source not found",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "source_ids"
                ],
                "properties": {
                  "user_id": {
                    "type": "string",
                    "minLength": 1
                  },
                  "organization_id": {
                    "type": "string",
                    "minLength": 1
                  },
                  "source_ids": {
                    "type": "array",
                    "minItems": 1,
                    "items": {
                      "type": "string"
                    }
                  },
                  "annotation_depth": {
                    "type": "string",
                    "enum": [
                      "compact",
                      "full_dbsnp"
                    ],
                    "default": "compact",
                    "description": "Genetics only. compact uses the bundled ClinVar-derived reference; full_dbsnp requires the provisioned paid hosted capability or explicit self-hosted setup."
                  },
                  "profile": {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "age": {
                        "type": "number"
                      },
                      "sex": {
                        "type": "string",
                        "enum": [
                          "male",
                          "female"
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Analyze sleep, recovery, activity, and cardiovascular observations from wearable sources."
      }
    },
    "/genetics/analyze": {
      "post": {
        "summary": "Start genetics analysis",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalysisResult"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or source modality",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Source not found",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "source_ids"
                ],
                "properties": {
                  "user_id": {
                    "type": "string",
                    "minLength": 1
                  },
                  "organization_id": {
                    "type": "string",
                    "minLength": 1
                  },
                  "source_ids": {
                    "type": "array",
                    "minItems": 1,
                    "items": {
                      "type": "string"
                    }
                  },
                  "annotation_depth": {
                    "type": "string",
                    "enum": [
                      "compact",
                      "full_dbsnp"
                    ],
                    "default": "compact",
                    "description": "Genetics only. compact uses the bundled ClinVar-derived reference; full_dbsnp requires the provisioned paid hosted capability or explicit self-hosted setup."
                  },
                  "profile": {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "age": {
                        "type": "number"
                      },
                      "sex": {
                        "type": "string",
                        "enum": [
                          "male",
                          "female"
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "description": "Start a genetics-only analysis for uploaded VCF, WGS, or SNP-array sources."
      }
    },
    "/genetics/ancestry": {
      "post": {
        "summary": "Run ancestry analysis setup/projection",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AncestryResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "source_id"
                ],
                "additionalProperties": false,
                "properties": {
                  "user_id": {
                    "type": "string",
                    "minLength": 1
                  },
                  "organization_id": {
                    "type": "string",
                    "minLength": 1
                  },
                  "source_id": {
                    "type": "string",
                    "minLength": 1
                  },
                  "reference_panel": {
                    "type": "string",
                    "enum": [
                      "1000_genomes_phase3"
                    ],
                    "default": "1000_genomes_phase3"
                  },
                  "resolution": {
                    "type": "string",
                    "enum": [
                      "continental",
                      "regional",
                      "sub_population"
                    ],
                    "default": "continental"
                  }
                }
              }
            }
          }
        },
        "description": "Prepare ancestry analysis for an uploaded genetic source and return reference-panel setup requirements or ancestry proportions when the ancestry worker is configured."
      }
    },
    "/genetics/jobs/{id}": {
[...]
